form{
    margin-top: 10px;
}
.titulo{
    text-align: center;
    background-color: #7c7979;
    padding: 0.5rem 0;
}

.coluna-nome{
    width: 30%;
}

input[type='text']{
    
    height: 100%;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
}


