<div class="container">
    <form [formGroup]="form" autocomplete="off">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th colspan="2" class="titulo">Ficha De Cadastro De Produto</th>
                </tr>
            </thead>
            <tbody>
                <tr class="position-relative" *ngFor="let atributo of atributos;let index = index">
                    <ng-container *ngIf="atributo.tipo === 'sub-titulo'; else inputRow">
                        <th [attr.colspan]="2" class="titulo">{{ atributo.nome }}</th>
                    </ng-container>

                    <ng-template #inputRow>
                        <td class="coluna-nome" [ngClass]="{'export': atributo.nomeCadastro}">{{ atributo.nome }} {{atributo.codigo}}</td>
                        <td class="coluna-input">
                            <div class="input-container" *ngIf="!atributo.tipo">
                                <input type="text" class="input-padrao" [ngClass]="{'input-reduzido': atributo.campoBusca || atributo.nomeCadastro == 'barras'}"
                                 [formControlName]="atributo.nome"
                                [maxlength]="atributo.maxlength !== undefined ? atributo.maxlength : null" uppercase>
                                <button class="btn btn-sm ms-2 btn-info" *ngIf="atributo.campoBusca" type="button"
                                    (click)="buscarOpcoes(atributo)">Buscar</button>
                                <button class="btn btn-sm ms-2 btn-info" *ngIf="atributo.nomeCadastro == 'barras'" type="button" 
                                (click)="verificarBarras()">Verificar</button>
                            </div>

                            <ng-container *ngIf="atributo.tipo === 'radio'">
                                <label *ngFor="let opcao of atributo.opcoes let i = index" class="me-5">
                                    <input type="radio" [formControlName]="atributo.nome" [value]="i"> {{opcao}}
                                </label>
                            </ng-container>
                           
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table> 
        <div class="text-end mb-3">
            <button class="btn btn-danger float-start" type="button" (click)="resetarForm()">Resetar formulario</button>
            <button class="btn btn-info ms-2" type="button" [disabled]="form.invalid || carregando == true || desabilitado == true" (click)="exportar()">Exportar</button>
            <button class="btn btn-warning ms-2" type="button" (click)="gerarExcel(excelColunas())">Gerar Excel</button>
        </div>
    </form>
</div>

<app-opcoes *ngIf="atributo?.mostrarOpcoes" [form]="form" [atributo]="atributo"
    (editarCodigo)="editarCodigo($event)">
</app-opcoes>

<app-mensagem-modal *ngIf="mensagem != ''" [(mensagem)]="mensagem" [alerta]="corAlerta"></app-mensagem-modal>
