form{
    margin-top: 10px;
}
.titulo{
    text-align: center;
    background-color: #7c7979;
    padding: 0.5rem 0;
}

.coluna-nome{
    width: 30%;
}

.input-padrao{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-reduzido{
    width: calc(100% - 70px);
}

.export{
    color:blue;
}
.botao{
    margin-bottom: 30px;
}
.coluna-input {
    position: relative; 
  }

  td.coluna-input button {
    position: absolute;
    right: 3px;
    top: 4px;
  }

input.ng-invalid.ng-touched{
    border-color: red;
    background-color: #ffecec;
    color: #9f3a38;
}