<div class="container">

  <form (submit)="enviarArquivo()">
    <input type="file" id="file" (change)="selecionarArquivo($event)" accept=".xml">
    <label for="file">Escolha um arquivo xml</label>
    <button type="submit" class="btn btn-enviar">Enviar</button>
  </form>
  <span *ngIf="arquivoXML">
    {{arquivoXML.name}}
  </span>

  <table class="table table-bordered border-secondary mt-3">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Barras</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of objetosXml?.itensNotaXml;let index = index">
        <td>{{obj.cProd}}</td>
        <td>{{obj.xProd}}</td>
        <td>{{obj.cEAN}}</td>
        <td class="col-status" (click)="carregarFormulario(index)" routerLink="registrar">
          {{obj.status}}
          <i class="fa fa-check-circle" style='color:#4ce50b' *ngIf="obj.status != ''"></i>
          <i class="fa fa-exclamation-circle" style='color:red' *ngIf="obj.status == ''"></i>
        </td>
      </tr>
    </tbody>
  </table>


</div>